.filter_list {
  margin-bottom: 10px;
}

.filter_title {
  border-bottom: 1px solid #ddd;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 3px;
}

.filter_items {
  padding: 0;
  margin: 15px 10px 0px 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}